@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #767676;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}
img{
    max-width: 100%;
}
@theme {
    --breakpoint-mb: 510px;
}

